@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #7D0057;
  color: white;
  font-family: 'Noto Sans';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  
  .info {
    border: solid 3px white;
    border-radius: 15px;
    width: 600px;
    height: 400px;
  }
  
  &__location {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }

  &__temperature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 70px;
  }

  &__icon {
    font-size: 86px;
  }

  &__date {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 46px;
    padding: 20px;
    &__time, &__date {
      display: flex;
      justify-content: center;
      align-items: flex;
    }
  
  }
}